body, html
{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

body {
	position: relative;
}

@font-face {
	font-family: 'adigiana_2regular';
	src: url('../font/Adigiana2.woff2') format('woff2'),
		 url('../font/Adigiana2.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arimo';
	src: url('../font/Arimo-Bold.woff2') format('woff2'),
		 url('../font/Arimo-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

.wrapper
{
	background-color: #a8f0ad;
	background-size: cover;
	width: 100%;
	height: 100%;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.message
{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	width: 60vmin;
	height: 45vmin;

	border-radius: 50px;
	/*box-shadow: 0 0 8px #3a435e;*/
	color: #fff;
	background-color: #5d70bc;
	text-align: center;
	z-index: 1000;

	align-items: center;

	padding: 2vmin;
}

.messagetext
{
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translateX(-50%);

	width: 90%;

	font-family: 'Arimo';
	font-size: 4vmin;
	/*text-shadow: 0 0 10px #3a435e;*/
}

.buttonStart
{
	cursor: pointer;
	position: absolute;
	left: 50%;
	top: 75%;
	transform: translate(-50%, -50%);

	border-radius: 10vmin;
	border-style: hidden;
	/*box-shadow: 0 0 8px #3a435e;*/

	background-color: #ff6968;
	text-align: center;
	width: 45vmin;
	height: 8vmin;

	font-family: 'Arimo';
	color: #fff;
	font-size: 4vmin;
	white-space: nowrap;
	/*text-shadow: 0 0 10px #3a435e;*/
}

.buttonAgain
{
	cursor: pointer;
	position: absolute;
	left: 50%;
	top: 60%;
	transform: translate(-50%, -50%);

	border-radius: 10vmin;
	border-style: hidden;
	/*box-shadow: 0 0 8px #3a435e;*/

	background-color: #ff6968;
	text-align: center;
	width: 45vmin;
	height: 8vmin;

	font-family: 'Arimo';
	color: #fff;
	font-size: 4vmin;
	white-space: nowrap;
	/*text-shadow: 0 0 10px #3a435e;*/
}

.buttonEnd
{
	cursor: pointer;
	position: absolute;
	left: 50%;
	top: 75%;
	transform: translateX(-50%);

	border-radius: 10vmin;
	border-style: hidden;
	/*box-shadow: 0 0 8px #3a435e;*/

	background-color: #01afba;
	text-align: center;
	width: 45vmin;
	height: 8vmin;

	font-family: 'Arimo';
	color: #fff;
	font-size: 4vmin;
	white-space: nowrap;
	/*text-shadow: 0 0 10px #3a435e;*/
}

.flag
{
	display:inline-block;
	position: absolute;
	top: -18%;
	left: 13%;
	z-index: -1;
	opacity: 1;
	transition-duration: .2s;
}

.house
{
	display:inline-block;
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.backlight {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 5vmin;
	height: 5vmin;
	z-index: -1;
	transition-duration: .2s;
}

.house:hover .backlight {
	transform: translate(-50%, -50%) scale(10, 10);
}

.houseName
{
	cursor: default;
	position: absolute;
	top: 23%;
	left: 45%;
	transform: translate(-50%, -50%);
	font-family: 'Arimo';
	white-space: nowrap;
	/*text-shadow: 0 0 2px #fdfcdc, 0 0 10px #3a435e, 0 0 10px #3a435e;*/
	color: #fdfcdc;
	font-size: 3vmin;
}

@keyframes jump
{
	0%, 100%
	{
		transform: translate(-50%, -50%);
	}
	50% 
	{
		transform: translate(-50%, -50%) translateY(-4%) scaleX(.95);
	}
}

.monster
{
	pointer-events: auto;
	display:inline-block;
	transform: translate(-50%, -50%);
}

.monster:hover
{
	animation-name: jump;
	animation-duration: .5s;
	animation-iteration-count: infinite;
}

.syllable
{
	cursor: default;
	display:inline-block;
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translateX(-50%);
	font-family: 'Arimo';
	/*text-shadow: 0 0 2px #fdfcdc, 0 0 10px #3a435e, 0 0 10px #3a435e;*/
	color: #fff;
	font-size: 7vmin;
}