body, html
{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
}

body {
	position: relative;
	touch-action: none;
}

@font-face {
	font-family: 'OpenSans';
	src: url('../font/OpenSans-Regular.ttf'),
	url('../font/OpenSans-Regular.woff') format('woff');
}

@media (max-height: 400px), (max-width: 380px) {
	#emptyline {display: none;}
	#ending, .buttonAgain, .buttonEnd {
		font-size: .7cm;
	}
}

@media (max-width: 430px) and (min-width: 380px) {
	#ending, .buttonAgain, .buttonEnd {
		font-size: .8cm;
	}
}

@media (max-height: 400px) {
	#greeting {
		top: 65%;
	}
}

@media (min-height: 400px) {
	#greeting {
		top: 50%;
	}
}

.wrapper, button {
	font-family: 'OpenSans';
	font-size: .9cm;
	font-weight: 700;
	letter-spacing: -.02em;
}

.wrapper
{
	background-color: #c1f6c5;
	background-size: cover;
	width: 100%;
	height: 100%;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

#gamefield {
	background-color: #c1f6c5;
	width: 100%;
	height: 100%;
	transition: .5s;
}

.hover {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

#greeting {
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
}

#m0greeting {
	position: absolute;
	top: 0;
	left: 50%;
	width: 4cm;
	z-index: 500;

	transform: translate(-50%, -53%) scaleX(-1);
}

#greetingbox, #greeting {
	width: 18cm;
	height: 12cm;

	max-width: 80vw;
	max-height: 60vh;

}

#ending {
	width: 18cm;
	height: 12cm;

	max-width: 80vw;
	max-height: 70vh;

}

.message
{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	border-radius: 1.5cm;
	color: #fff;
	background-color: #5d70bc;
	text-align: center;
	z-index: 1000;

	align-items: center;

}

.messagetext
{
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translateX(-50%);

	width: 90%;
}

.buttonStart, .buttonAgain, .buttonEnd {
	text-align: center;

	cursor: pointer;
	max-width: 70vw;
	

	white-space: nowrap;
	color: #fff;
}

.buttonAgain, .buttonEnd {
	width: 8cm;
	height: 2cm;
	max-height: 14vh;
}

.buttonStart
{
	width: 8cm;
	height: 2cm;
	max-height: 18vh;
	position: absolute;
	left: 50%;
	top: 80%;
	transform: translate(-50%, -50%);

	border-radius: 10vmin;
	border-style: hidden;

	background-color: #ff6968;
}

.buttonAgain
{
	position: absolute;
	left: 50%;
	top: 59%;
	transform: translate(-50%, -50%);

	border-radius: 10vmin;
	border-style: hidden;

	background-color: #ff6968;
}

.buttonEnd
{
	position: absolute;
	left: 50%;
	top: 82%;
	transform: translate(-50%, -50%);

	border-radius: 10vmin;
	border-style: hidden;

	background-color: #01afba;
}

.flag
{
	display:inline-block;
	position: absolute;
	top: -18%;
	left: 13%;
	z-index: -1;
	opacity: 1;
	transition-duration: .2s;
}

.house
{
	display:inline-block;
	position: absolute;
	top: 0%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.backlight {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 5vmin;
	height: 5vmin;
	z-index: -1;
	transition-duration: .2s;
}

.house:hover .backlight {
	transform: translate(-50%, -50%) scale(10, 10);
}

.houseName
{
	cursor: default;
	position: absolute;
	top: 20%;
	left: 46%;
	transform: translate(-50%, -50%);
	white-space: nowrap;
	color: #fff;
	font-size: 4vmin;
}

@keyframes jump
{
	0%, 100%
	{
		transform: translate(-50%, -50%);
	}
	50% 
	{
		transform: translate(-50%, -50%) translateY(-4%) scaleX(.95);
	}
}

.monster
{
	pointer-events: auto;
	display:inline-block;
	transform: translate(-50%, -50%);
}

.monster:hover
{
	animation-name: jump;
	animation-duration: .5s;
	animation-iteration-count: infinite;
}

.syllable
{
	cursor: default;
	display:inline-block;
	position: absolute;
	left: 50%;
	top: 43%;
	transform: translateX(-50%);
	color: #fff;
	font-size: 6vmin;
	text-transform: uppercase;
}